# cd to this file's folder (_env_setup)
# to run  =>  pip install -r .\requirements.txt
bs4
requests
pafy
youtube_search
keyboard
mouse
pyautogui
pyperclip
youtube_dl
numpy
matplotlib
pillow
pyinstaller
pytube
instagramy
instaloader